/* Space out content a bit */


body {
  padding-top: 20px;
  padding-bottom: 20px;
  
}

#tittle{
  text-align: center;
}


#tableRows{
  text-align: center;
}
td{
  text-align: center;
}
.page-header{
  text-align: center;
}
h1{
  font-family: bebas-neue;
}
h3{
  font-family: bebas-neue;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
@font-face{
  font-family: bebas-neue;
  src:url('../fonts/BebasNeue.otf');
}
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron {
font-family: bebas-neue;
top: 0px;
left: 0px;
background-position: 50% 0%!important;
 section {
  padding-top: 20%;
 }


}
.home .wrap.main-section .content .bg { padding-top: 50%!important; }

/* Custom page header */

.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */

.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */

  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */

  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */

  .jumbotron {
    border-bottom: 0;
  }
}