<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Gerenglob Analytics</h4>
      </div>
      <div class="modal-body">
        	<div class="progress">
  					<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" ng-style="{width:progressBar()}">
   						{{progressBar()}}
   					</div>
  		</div>
      </div>
    </div>
  </div>
</div>
<h1>{{congresoName}}</h1>
<div class="row">
	<div class="col-md-12">
		<div id="barChart"></div>
	</div>
</div>
<h1>{{edicion}}</h1>
<div class="row" ng-show = 'eventActive'>
	<div class="col-md-12">
		<div id="chart_two"></div>
	</div>
</div>
<div class="row" ng-show ='eventActive'>
	<div class="col-md-12">
		<div id="chart_three"></div>
	</div>
</div>	
<br>
<table class="table table-bordered">
		<tr>
			<td>Edición</td>
			<td>Fecha</td>
			<td>Cantidad de Registrados</td>
			<td>Cantidad de Inscritos</td>
			<td>Cantidad con Reservas</td>
			<td>Cantidad de Deposito Disponible</td>
			<td>Cantidad con acompañantes</td>
			<td>Cantidad con habitación</td>
			<td>Cantidad con Pagos Completos</td>
			<td>Total</td>
			
		</tr>
		<tr ng-repeat = 'congreso in congresos track by $index' ng-click = 'chooseEvent($index,congreso.edicion)'>
			<td>{{congreso.edicion}}</td>
			<td>{{congreso.fecha_evento | date:'dd-MM-yyyy' }}</td>
			<td>{{congreso.n_registrados}}</td>
			<td>{{congreso.n_inscritos - 1 }}</td>
			<td ng-class="{success:congresoStats(congreso.n_inscritos),danger:!congresoStats(congreso.n_inscritos)}">{{congreso.n_reservas}}</td>
			<td>{{congreso.n_pagos_disponibles}}</td>
			<td>{{congreso.n_acompanantes}}</td>
			<td>{{congreso.n_con_habitacion}}</td>
			<td>{{congreso.n_pagos_completos}}</td>
			<td>{{congreso.n_reservas + congreso.n_acompanantes + congreso.n_pagos_disponibles}}</td>
		</tr>
</table>